<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Teams - nbaDB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!-- <link rel="stylesheet" type="text/js" href="https://web2.tecnico.ulisboa.pt/~ist199088/templates/test.js"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="https://www.nba.com/favicon-32x32.png" type="image/png">
    <!-- Favicon to work in all desktop browsers:
        <link rel="shortcut icon" href="//static.tecnico.ulisboa.pt/favicon.png" type="image/png"> -->
</head>
<style>
    tr[data-href] {
        cursor: pointer;
    }
</style>

<body>
    <div id="background">
        <div class="overlay"></div>
    </div>
    <div class="App-header" id="content">
        <img src="https://www.nba.com/apple-touch-icon.png" class="App-logo" alt="logo" />
        <a href="https://jarcosta-organic-sniffle-xxv5jqrj9j92p4vx-5000.preview.app.github.dev" style="color: #fff;"><h1>nbaDB</h1></a>
    </div>
    <div>
        <div id="content">
            {% if cursor %}
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Team</th>
                        <th>Short</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in cursor %}
                    <tr class='clickable-row' data-href='games?team={{record[0]}}'>
                        <td>
                            <img class="miniature" id="team-logo" src={{record[3]}} style="background-color: {{record[2]}};">
                        </td>
                        <td>
                            {{record[0]}}
                        </td>
                        <td>
                            {{record[1]}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p> Erro: ao obter dados da base de dados!</p>
            {% endif %}
        </div>
    </div>
</body>
<script src="https://web2.tecnico.ulisboa.pt/~ist199088/templates/test.js"></script>

</html>